# Created by Vercel CLI
VERCEL="1"
VERCEL_ENV="development"

# google analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS=

# visit https://giscus.app to get your Giscus ids
NEXT_PUBLIC_GISCUS_REPO= 
NEXT_PUBLIC_GISCUS_REPOSITORY_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=